*.sh  text=auto eol=lf
spotify_dl_cli/clt_*/**/*_pb2.py linguist-generated=true
spotify_dl_cli/clt_*/**/*_pb2.pyi linguist-generated=true
spotify_dl_cli/playplay_emulator*/generated/** linguist-generated=true
